* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  .side--bar {
    height: 100vh;
    width: 300px;
    background-color: $side-color1;
    color: $mainWhiteColor;
    font-weight: bold;
    &__user--name {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__items {
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        line-height: 20px;
        &__name {
          font-size: 16px;
        }
        &__icon {
          display: flex;
          &__new {
            margin-left: 5px;
            & a {
              color: $mainWhiteColor;
            }
          }
          &__edit {
            margin-left: 5px;
            & a {
              color:$mainWhiteColor;
            }
          }
        }
      }
    }
  
    &__group--list {
      height: calc(100vh - 100px);
      background-color: $side-color2;
      color: $mainWhiteColor;
      .group {
        color: $mainWhiteColor;
        text-decoration: none;
      }
      &__name {
        font-size: 15px;
        height: 45px;
        padding: 20px 20px 5px;
      }
      &__text {
        font-size: 11px;
        padding-left: 20px;
      }
    }
  }

  .main {
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: $mainWhiteColor;
    &__group--info {
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
      &__left {
        margin-top: 35px;
        &__name {
          font-size: 20px;
          color: #333333;
          margin-bottom: 15px;
          &__member {
            color: $sub-color;
            display: flex;
            font-size: 12px;
            list-style: none;
            &__name {
              float: left;
              padding-left: 5px;
            }
          }
        }
      }
      &__edit {
        height: 40px;
        & .link {
          text-decoration: none;
        }
        &__btn {
          color: $btn-color;
          font-size: 16px;
          line-height: 40px;
          border: solid 1px;
          padding: 0 20px;
        }
      }
    }
    &__message--list{
      border-top: #eeeeee;
      height: calc(100vh - 190px);
      background-color: #fafafa;
      padding: 46px 40px;
      &__name {
        font-size: 16px;
        margin-bottom: 10px;
        display: flex;
        font-weight: bold;
        &__time {
          font-size: 12px;
          color: $sub-color;
          font-weight: normal;
          margin-left: 5px;
          }
      }
      &__messages {
        color: $text-color;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }

    &__message--form {
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 40px;

      .new_message {
        display: flex;
        .main__message--form__field__input {
          width: 100%;
          display: flex;
          position: relative;
          &__text {
            height: 50px;
            width: 100%;
            padding:0 40px 0 10px;
            border-style: none;
            color: $text-color;
          }
          &__image {
            position: absolute;
            top: 10px;
            right: 10px;
            &__file {
              display: none;
            }
          }
        }
        .submit--btn {
          height: 50px;
          width: 100px;
          padding: 0 30px;
          background-color: $btn-color;
          margin-left: 15px;
          color: $mainWhiteColor;
        }
      }
    }
  }
}